//
// Base styles
// --------------------------------------------------
@import './variables.scss';
/**
 * view-port list:
320x480
320x568
320x570
360x592
360x598
360x604
360x640
360x720
375x667
375x812
393x699
412x732
414x736
480x854
540x960
640x360
720x1184
720x1280
800x600
1024x768
1080x1812
1080x1920
 */
html {
  font-size: -webkit-calc(13.33333333vw);
  font-size: calc(13.33333333vw);
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.667px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 48px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 50px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 376px) and (max-width: 393px) {
  html {
    font-size: 52.4px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 394px) and (max-width: 412px) {
  html {
    font-size: 54.93px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 413px) and (max-width: 414px) {
  html {
    font-size: 55.2px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 415px) and (max-width: 480px) {
  html {
    font-size: 64px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 481px) and (max-width: 540px) {
  html {
    font-size: 72px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 541px) and (max-width: 640px) {
  html {
    font-size: 85.33px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 641px) and (max-width: 720px) {
  html {
    font-size: 96px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 721px) and (max-width: 768px) {
  html {
    font-size: 102.4px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 102.4px;
    font-size: -webkit-calc(13.33333333vw);
    font-size: calc(13.33333333vw);
  }
}

// Use box sizing on all the things!
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;//禁止选择文字
  outline: none;
}

// Use box sizing on all the things!
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;//禁止选择文字
    outline: none;
}
// We fix position the body and scroll `.content`.
body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height-default;
    color: #000;
    background:rgba(248,248,248,1);
    -webkit-overflow-scrolling: touch;
}

// Universal link styling
a {
    color: $primary-text-color;
    text-decoration: none;

    &:active {
        color: darken($primary-text-color, 10%);
    }
}

// Universal list styling
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.padded{
    margin: 20px 16px;
}
//
// Buttons
// btn btn-primary btn-block btn-outlined

$button-font-size: 14px !default;

@mixin btn($color){
    color: #fff;
    background-color: $color;
    border: 1px solid $color;

    &:enabled:active,
        &.active:enabled {
        color: #fff;
        background-color: darken($color, 10%);
        border: 1px solid darken($color, 10%);
    }
}
// --------------------------------------------------
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0; // For input.btn
    font-size: $button-font-size;
    font-weight: $font-weight-light;
    line-height: 1.42;//增大，和bootstrap保持一致；
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;//fixed android 4.2
    border-top-right-radius: 3px;//fixed android 4.2
    border-bottom-right-radius: 3px;//fixed android 4.2
    border-bottom-left-radius: 3px;//fixed android 4.2
    border-radius: 3px;
    transition: all;
    transition-duration: .2s;
    transition-timing-function: linear;

    // Active & filled button styles
    &:enabled:active,
        &.active:enabled {
        color: #fff;
        background-color: #666;
    }

    // Disabled styles & filled button active styles
    &:disabled,
        &.disabled {
        opacity: .6;
    }
}

// Primary button (Default color is blue)
input[type="submit"],
.btn-primary{
    @include btn(#3296FA);
}
.btn-block {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 0.32rem;
}

// 文字省略号
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// 两行文字省略号
.ellipsis-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal!important;
    word-wrap: break-word;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main-content{
    position: absolute;
    top: $header-height;
    right: 0;
    left: 0;
    // background:rgba(255,255,255,1);
}
// Utility classes
// flex
.flex{
    @extend %flexbox;
}
.align-items-center{
    @include align-items(center);
}
.flex-item{
    @include flex;
}